.grid {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: #666;
	height: auto;
	line-height: normal;
}

.row {
	margin: 0px;
	padding: 0px;
}

.parameterCell,.valueCell {
	margin: 0px;
	padding: 0px;
}

.parameterCell {
	text-align: left;
	font-size: 12px;
}

.valueCell input[type=text] {
	margin: 0px;
	outline: none;
	padding: 2px;
}