<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2011 Google Inc. All Rights Reserved. All rights reserved. 
	This program and the accompanying materials are made available under the 
	terms of the Eclipse Public License v1.0 which accompanies this distribution, 
	and is available at http://www.eclipse.org/legal/epl-v10.html Unless required 
	by applicable law or agreed to in writing, software distributed under the 
	License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS 
	OF ANY KIND, either express or implied. See the License for the specific 
	language governing permissions and limitations under the License. -->
<web-app xmlns:xsi="http://www.w3.org/2001/xmlschema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemalocation="http://java.sun.com/xml/ns/javaee
                        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Request Listener -->
	<listener>
		<listener-class>com.tinesoft.gwt.pixlr.showcase.server.guice.GuiceServletConfig
		</listener-class>
	</listener>

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- GWT Log : RemoteLogger Servlet -->
	<servlet>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl
		</servlet-class>
		<init-param>
			<param-name>symbolMaps</param-name>
			<param-value>WEB-INF/deploy/showcase/symbolMaps
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<url-pattern>/showcase/gwt-log</url-pattern>
	</servlet-mapping>

	<!-- Other servlets -->


	<!-- Security -->

	<!-- Require user login for the .html welcome page -->
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/index.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- Require admin role for the tasks servlet -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>tasks</web-resource-name>
			<url-pattern>/tasks/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
